<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
  	<dict>
  		<key>monsterName</key>
  		<string>Werewolf</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 15</string>
  			<string>DEX: 14</string>
  			<string>CON: 14</string>
  			<string>INT: 10</string>
  			<string>WIS: 11</string>
  			<string>CHA: 10</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Cyclops</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 22</string>
  			<string>DEX: 20</string>
  			<string>CON: 20</string>
  			<string>INT: 8</string>
  			<string>WIS: 6</string>
  			<string>CHA: 10</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Faerie Dragon</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 3</string>
  			<string>DEX: 13</string>
  			<string>CON: 13</string>
  			<string>INT: 14</string>
  			<string>WIS: 12</string>
  			<string>CHA: 16</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Ogre</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 19</string>
  			<string>DEX: 16</string>
  			<string>CON: 16</string>
  			<string>INT: 5</string>
  			<string>WIS: 7</string>
  			<string>CHA: 7</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Gelatinous Cube</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 14</string>
  			<string>DEX: 20</string>
  			<string>CON: 20</string>
  			<string>INT: 1</string>
  			<string>WIS: 6</string>
  			<string>CHA: 1</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Pixie</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 2</string>
  			<string>DEX: 8</string>
  			<string>CON: 8</string>
  			<string>INT: 10</string>
  			<string>WIS: 14</string>
  			<string>CHA: 15</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Manticore</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 17</string>
  			<string>DEX: 17</string>
  			<string>CON: 17</string>
  			<string>INT: 7</string>
  			<string>WIS: 12</string>
  			<string>CHA: 8</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Magmin</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 7</string>
  			<string>DEX: 12</string>
  			<string>CON: 12</string>
  			<string>INT: 8</string>
  			<string>WIS: 11</string>
  			<string>CHA: 10</string>
  		</array>
  	</dict>
  	<dict>
  		<key>monsterName</key>
  		<string>Hell Hound</string>
  		<key>monsterStats</key>
  		<array>
  			<string>STR: 17</string>
  			<string>DEX: 14</string>
  			<string>CON: 14</string>
  			<string>INT: 6</string>
  			<string>WIS: 13</string>
  			<string>CHA: 6</string>
  		</array>
  	</dict>
  </array>
</plist>
