<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Luke Skywalker</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Luke_Skywalker</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Princess Leia</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Princess_Leia</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Han Solo</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Han_Solo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Darth Vader</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Darth_Vader</string>
	</dict>
</array>
</plist>
