<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>Luciles</string>
			<key>url</key>
			<string>https://www.luciles.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rincon Argentina</string>
			<key>url</key>
			<string>https://www.rinconargentinoboulder.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Backcountry Pizza</string>
			<key>url</key>
			<string>https://www.backcountrypizzaandtaphouse.com/</string>
		</dict>
		<dict>
			<key>name</key>
			<string>West End Tavern</string>
			<key>url</key>
			<string>https://www.thewestendtavern.com/</string>
		</dict>
	</array>
</plist>
